/* Floating Label */

.searchbar-header {
    width: 1000px;
    height: 30px;
}

.p-float-label {
    display: block;
    position:relative; 
}

.p-float-label label {
  font-size: 26px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: .25em;
  top: 50%;
  margin-top: -.5em;
  transition: 0.3s ease all; 
  -moz-transition: 0.3s ease all; 
  -webkit-transition: 0.3s ease all;
  color: #898989;
  line-height: 1;
}
    
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top:-.75em;
  font-size:12px;
}

.p-float-label .input:-webkit-autofill ~ label {
  top:-20px;
  font-size:12px;
}