 /* App.css
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
*/
  /* Home.css  */
  .App {
    text-align: center;
  }
  
  .Search-bar {
    color: black;
    width: 500px;
    font-size: 30px;
  }
  
  .Search-header {
    color: wheat;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  #home_title {
    font-style: italic
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* Searchbar.css */
  .search {
    height: 6vh;
    padding: 10px;
    border: 1px solid grey;
    font-size: 17px;  
  }

  input.search {
    width: 50vw;
    float: left;
    background-color: #f1f1f1;
  }
  
  button.search {
    width: 10vw;
    float: center;
    color: white;
    border-left: none;
    cursor: pointer;
  }

  .particular {
    background-color: #2196F3;
  }

  .particular:hover {
    background-color: #07599c;
  }
  
  .random {
    background-color: #11F329;      
  }

  .random:hover {
    background-color: rgb(7, 141, 20);
  }

  /* Flashcard.css */ 
  .picture {
    display: block;
    width: 50%;
    height: 25%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0,5))
}

.table-title {
  margin: 5%;
}

.flashcard-base {
    background-color: #282c34;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.component {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    color: wheat;
}

span.pos {
  vertical-align: sub;
  font-size: 9px;
  color: orange;
}

ul {
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  align-content: left;
}

ul:before {
  content:attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
}

ul>li {
  color: black;
  border-block-style: round;
  padding: 5px;
  margin: 3px;
}

ul>li:nth-child(3n) {
  background-color: lightgrey;
}

ul>li:nth-child(3n+1) {
  background-color: grey;
}

ul>li:nth-child(3n+2) {
  background-color: darkgrey;
}

ul>li:hover {
  font-weight: bold;
  background-color: lime;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td:hover {
  font-weight: bold;
  background-color: lime;
}

caption {
  padding: 0%;
  margin: 0%;
  background-color: black;
  font-size: 1.5em;
  text-align: left;
  color: goldenrod;
  text-shadow: 1px 1px wheat;
}