body {
    background: url(../resources/img/mountain-lake.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Keep the inherited background full-size. */
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

div {
    background: inherit;
}

.container {
    width: 40rem;
    height: 25rem;
    line-height: 25rem;
    box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: .5rem;
    z-index: 1;
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    color: white;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 2000px 2000px rgba(0, 0, 0, .3);
    filter:blur(5px);
    margin: -2rem;
    z-index: -1;
}