* {
    box-sizing: border-box;
  }
  
  .search {
    height: 6vh;
    padding: 10px;
    border: 1px solid grey;
    font-size: 17px;  
  }

  input.search {
    width: 50vw;
    float: left;
    background-color: #f1f1f1;
  }
  
  button.search {
    width: 10vw;
    float: center;
    color: white;
    border-left: none;
    cursor: pointer;
  }

  .particular {
    background-color: #2196F3;
  }

  .particular:hover {
    background-color: #07599c;
  }
  
  .random {
    background-color: #11F329;      
  }

  .random:hover {
    background-color: rgb(7, 141, 20);
  }